{% extends 'layouts/main.html' %}
{% block title %}New Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post">
      <h3 class="form-heading">List an availability time slot for {{ artist.name }}</h3>

      <div class="form-group">
        <label for="phone">Artist ID</label>
        {{ form.artist_id(class_ = 'form-control') }}
      </div>

      <div class="form-group">
        <label for="phone">Start time</label>
        {{ form.start_time(class_ = 'form-control', placeholder='HH:MM') }}
      </div>

      <div class="form-group">
        <label for="phone">End time</label>
        {{ form.end_time(class_ = 'form-control', placeholder='HH:MM') }}
      </div>

      <input type="submit" value="Create availability" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
